*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-family: var(--main-font-size) !important;
}

input:focus,textarea:focus{
    box-shadow: none !important;
    border:2px solid #1b2e4b !important;
    background-color: #1b2e4b !important;
}

button:hover{
    border: 1px solid #1b55e2 !important;
    color:white !important;
    background-color: #1b55e2 !important;
}

.form-container{
    margin:2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap:40px;
}

.form-container form{
    padding:30px;
    background-color: #0d1625;
    border-radius:8px;
    box-shadow: 
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12),
    0 3px 5px -1px rgba(0,0,0,.2);
}

.input-container{
    margin-top:40px;
}

.input-container input,.input-container textarea{
    transition: 300ms;
    opacity: 0.75;
    font-size:15px;
    color:#08b8a6cb ;
    caret-color: #08b8a6;
}

.input-container textarea{
    min-height: 217px;
}

input::placeholder,textarea::placeholder{
    transition: 300ms;
    color:rgba(255, 255, 255, 0.774) !important;
}

input:focus,textarea:focus{
    color:#10b9a8 !important;
    opacity: 1;
}

.form-container h2{
    color:#ebedf2;
    font-size: 19px;
    font-weight: 500;
}

.input-container input,.input-container textarea{
    border:2px solid #1b2e4b;
    background-color: #1b2e4b;
    padding:10px 10px 10px 24px !important;
}
    

.input-span{
    border: 1px solid #1b2e4b;
    background-color: #191e3a;
}

.input-container i{
    color: #888ea8;
}

.report-btn{
    padding:7px 15px !important;
    transition: 400ms;
    float: right;
    align-items: center;
    gap:7px;
    background-color: #1b55e2;
    color:white;
    font-weight: 300;
    font-size:14px;
    box-shadow: 0 10px 20px -10px rgba(27, 85, 226, 0.59);
}

.report-btn i{
    font-size:11px;
    color: #1b55e2;
    background-color: white;
    padding:2px;
    border-radius: 50%;
}

.report-btn:hover{
    transform: translateY(-3px);
    box-shadow: none;
}

.submit-btn{
    display: block;
    margin-top:1em;
}


@media screen and (max-width:900px){
    .form-container{
        grid-template-columns: auto;
    }
}