<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/hamburger.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/header.css">
    

    <script src="https://kit.fontawesome.com/39b4b21fe7.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--- Header START -->
    <header class="main-logo-container">
        <div class="hamburger-container">
            <!-- <input type="checkbox" id="trigger"> -->
            <div id="hamburger-modal">
                <div class="modal-header flex">
                    <img
                    width="45"
                    height="45"
                    src="../static/images/logo2.svg" 
                    alt="Logo"
                    class="logo2">

                    <a href="#" class="main-link">
                        OwnzYou.com
                    </a>
                </div>

                <div class="modal-nav-container">
                    <ul class="modal-nav flex">
                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <p>Dashboard</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="12" y1="8" x2="12" y2="16"></line>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                            </svg>
                            <p>Report Site</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox">
                                <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                                <path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
                            </svg>
                            <p>OnHold</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard">
                                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                                <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                            </svg>
                            <p>Specials</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            <p>Activist / Hackers</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                <polyline points="17 6 23 6 23 12"></polyline>
                            </svg>
                            <p>Top 20</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            <p>Blog</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                <polyline points="22,6 12,13 2,6"></polyline>
                            </svg>
                            <p>Contact/Abuse</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <a href="#" class="modal-nav-item flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="8" x2="12" y2="16"></line>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                            </svg>
                            <p>More</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>
                    </ul>
                </div>          
            </div>

            <i id="trigger" class="fa-solid fa-bars hamburger"></i>
        </div>

        <a href="#" id="main-logo">
            <img src="../static/images/ownzyou-min.png" 
            alt="Main Logo"
            height="45" width="190">
        </a>

        <nav id="main-nav-container">
            <ul class="main-nav flex">
                <li class="main-nav-item">
                    <a href="index.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <span>Dashboard</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="report-site.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                        <span>Report Site</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="onhold.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg>
                        <span>OnHold</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="specials.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                        <span>Specials</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="activist-hackers.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        <span>Activist/Hackers</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="top20.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                        <span>Top 20</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="blog.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                        <span>Blog</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="contact.html" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                        <span>Contact</span>
                    </a>
                </li>
    
                <li class="main-nav-item">
                    <a href="#" class="flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                        <span>More</span>
                    </a>
                </li>
    
            </ul>
        </nav>

    </header>
    <!-- Header END -->

    <!-- Header END -->

    <main class="main">
        <div class="info">
            <div class="info-content">
                <div class="svg-container flex svg-container-1">
                    <!-- <i class="fa-solid fa-user-group icon"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>                                    
                    </svg>
                </div>
                <p class="info-count">1801</p>
                <p class="info-title">Hacktvist</p>
            </div>

            <div class="info-content">
                <div class="svg-container flex svg-container-2">
                    <!-- <i class="fa-solid fa-dollar-sign icon"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign">
                        <line x1="12" y1="1" x2="12" y2="23"></line>
                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                    </svg>
                </div>
                <p class="info-count">3212</p>
                <p class="info-title">Special Archive</p>
            </div>

            <div class="info-content">
                <div class="svg-container flex svg-container-3">
                    <!-- <i class="fa-solid fa-inbox icon"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox">
                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                        <path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
                    </svg>
                </div>
                <p class="info-count">99937</p>
                <p class="info-title">Total Archive</p>
            </div>

            <div class="info-content">
                <div class="svg-container flex svg-container-4">
                    <!-- <i class="fa-regular fa-clipboard icon"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard">
                        <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                        <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                    </svg>
                </div>
                <p class="info-count">16949</p>
                <p class="info-title">Onhold</p>
            </div>

        </div>

        <div class="images-container flex">

            <a href="#">
                <img src="../static/images/hack1.jpg" alt="hacker image1">
            </a>

            <a href="#">
                <img src="../static/images/hack2.gif" alt="hacker image2">
            </a>

            <a href="#">
                <img src="../static/images/hack3.jpg" alt="hacker image3">
            </a>

        </div>

        <div class="table-container">
            <!-- ENTRY AND SEARCH PART START ------------>
            
            <div class="entry-search-container flex">

                <div class="entry">
                    <span>Show</span>

                    <select name="" id="" class="show">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                    <span>entries</span>
                </div>

                <div class="search">
                    <span>Search: </span>
                    <input type="search" placeholder="Search" class="search-input">
                </div>

            </div>
            
            <!-- ENTRY AND SEARCH PART END -------------->

            <table class="table">
                <tr>
                    <th>
                        <span>id</span>
                    </th>

                    <th>
                        <span>location</span>
                    </th>

                    <th>
                        <span>attacker name <i class="fa fa-arrow-down-arrow-up"></i></span>
                    </th>

                    <th>
                        <span>web url</span>
                    </th>
                    
                    <th>
                        <span>server ip</span>
                    </th>
                    
                    <th>
                        <span class="web-server">web server</span>
                    </th>
                    
                    <th>
                        <span>date</span>
                    </th>
                    
                    <th>
                        <span>preview</span>
                    </th>
                
                </tr>
                
                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary btn-preview">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

                <tr>
                    <td class="id">945</td>
                    <td class="country-image"><img src="../static/images/countries/Azerbaijan.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
                    <td class="attacker-name">pH</td>
                    <td class="web-url">https://imatransco.com/</td>
                    <td class="server-ip">192.185.225.160</td>
                    <td class="web-server">Apache</td>
                    <td class="date">19/06/2022 02:49</td>
                    <td class="preview">
                        <button type="button" class="btn btn-outline-primary">Preview</button>
                    </td>
                </tr>

            </table>

            <div class="pages-container">
                <div class="showing">
                    Showing 
                    <span id="first">1</span>
                    to
                    <span id="second">10</span>
                    of
                    <span id="total">82988</span>
                    entries
                </div>
            </div>

        </div>

    </main>

    <footer>
        <p>Copyright © 2022 OwnzYou, All rights reserved.</p>
        <p>Contact Telegram: <b>https://t.me/rootingsabotage </b>| Mail: <b>rootingsabotage@gmail.com</b></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="../static/js/hamburger.js"></script>
</body>
</html>